h3 {
    color: #fff;
    padding: 1rem 0 0 0;
}

nav {
    background: #142b3b;
    font-weight: bold;
    border-bottom: solid 2px #f0ddaa;
}

.navbar span {
    color: #f0ddaa;
}

.navbar-toggler .fa {
    color: #f0ddaa;
}

.navbar-nav .fa {
    color: #f0ddaa;
    font-size: 1.3rem;
    margin-left: 0.5rem;
}

.nav-item span {
    color: #f0ddaa;
}

.navbar-nav .nav-item:hover {
    transition: all .8s ease;
    background: #e42d40;
    border-radius: 10px;
}

nav .fa {
    margin-right: 0.5rem;
}

.nav-link {
    margin-left: 1rem;
    color: #f0ddaa;
}

.labelLogin {
    color: #fff;
    margin: 0.5rem 0 0.5rem 0;
}

.labelLoginError {
    color: #e42d40;
    margin: 0.5rem 0 0.5rem 0;
}

.login {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert-danger {
    background: #d83646;
}

.register-btn {
    margin-top: 1rem;
}

li {
    list-style-type: none;
}

.card {
    margin: 1rem 0 1rem 0;
}

.card-body {
    margin: 10px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    text-align: center;
}

.card-body img {
    max-height: 150px;
}

.card-body .card-title {
    white-space: wrap;
    overflow: hidden;
    max-height: 50px;
}

.card-body .card-text {
    flex: 0.8 1 auto;
    white-space: wrap;
    overflow: hidden;
    max-height: 100px;
}

.float-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

.btn {
    margin: 5px;
}

.loading {
    display: flex;
    justify-content: center;
    padding: 5rem;
    font-size: 7rem;
    color: #e42d40;
}

.padding2rem {
    padding: 2rem;
}

.btn-mis-productos {
    margin: 0 0 1rem 0;
}