<form #formFilters="ngForm" (ngSubmit)="onSubmit();" class="col-12">
    <label>Buscar</label>
    <input id="buscar" type="text" name="buscar" #buscar="ngModel" [(ngModel)]="userFilters.BUSCAR" class="form-control" maxlength="100" />

    <label>Precio desde</label>
    <input type="number" class="form-control" name="precioDesde" #precioDesde="ngModel" [(ngModel)]="userFilters.PRICE_MIN" pattern="[0-9]+([\,,\.][0-9][0-9]?)?" />

    <label>Precio hasta</label>
    <input type="number" class="form-control" name="precioHasta" #precioHasta="ngModel" [(ngModel)]="userFilters.PRICE_MAX" pattern="[0-9]+([\,,\.][0-9][0-9]?)?" />

    <label>Categoría</label>
    <select class="form-control" name="categoria" #categoria="ngModel" [(ngModel)]="userFilters.ID_PRODUCT_CATEGORY">
        <option *ngFor="let categoria of categorias" value={{categoria.ID_PRODUCT_CATEGORY}}>{{categoria.NAME}}</option>
    </select>
</form>