h3 {
    margin: 1rem;
    color: #fff;
}

.fa {
    color: #fff;
}

.fa .fa-plus {
    margin-top: 10px;
}

.jumbotron {
    background: #505050;
}

.imagenes {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0.5rem 0 0.5rem 0;
}

.imagen {
    align-self: center;
    min-width: 65%;
    max-width: 65%;
}

.imagen-badge {
    align-self: center;
    margin: 0.5rem;
}

.imagen-delete {
    align-self: center;
    min-width: 20%;
    max-width: 30%;
    margin: 0.5rem !important;
}

.carousel label {
    font-size: 0.7rem;
}

.inputUrl {
    margin: 0 0 1rem 0;
}

.inputUrl .btn {
    margin: 0 0 0 1rem;
}

form label {
    margin-top: 20px;
    margin-right: 10px;
    color: #fff;
    font-weight: 700;
}

.btn {
    margin-top: 20px;
}

.botones {
    margin-bottom: 1rem;
}

.volver {
    margin-left: 1rem;
}