h3 {
    padding: 1rem;
    color: #fff;
}

.loading {
    display: flex;
    justify-content: center;
    padding: 5rem;
    font-size: 7rem;
    color: #e42d40;
}

.card-body {
    color: #fff;
}

.detalles {
    color: #fff;
    display: flex;
    flex-direction: column;
}

.info-producto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

label {
    font-weight: 700;
    padding: 0.5rem 0 0 1rem;
}

.valor {
    padding: 0 0 0 1rem;
}

.combo {
    max-width: 300px;
}

.imagenes {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.botones {
    margin-bottom: 1rem;
}