div {
    color: #fff;
}

.login {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert-danger {
    background: #d83646;
}

.register-btn {
    margin-top: 1rem;
}