h3 {
    color: #fff;
    padding: 1rem 0 0 0;
}

nav {
    background: #142b3b;
    font-weight: bold;
    border-bottom: solid 2px #f0ddaa;
}

.navbar span {
    color: #f0ddaa;
}

.navbar-toggler .fa {
    color: #f0ddaa;
}

.navbar-nav .fa {
    color: #f0ddaa;
    font-size: 1.3rem;
    margin-left: 0.5rem;
}

.nav-item span {
    color: #f0ddaa;
}