.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    height: 100%;
    background: #142b3b;
}

.content {
    flex: 1 1 auto;
    align-self: stretch;
    padding: 0;
    margin: 0;
}