nav {
    background: #142b3b;
    font-weight: bold;
    border-bottom: solid 2px #f0ddaa;
}

.navbar {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    border-width: 0 0 1px;
    opacity: 0.8;
}

.navbar span {
    color: #f0ddaa;
}

.navbar-toggler .fa {
    color: #f0ddaa;
}

.navbar-nav .fa {
    color: #f0ddaa;
    font-size: 1.3rem;
    margin-left: 0.5rem;
}

.nav-item span {
    color: #f0ddaa;
}

.navbar-nav .nav-item:hover {
    transition: all .8s ease;
    background: #e42d40;
    border-radius: 10px;
    padding: 0.3rem;
}

nav .fa {
    margin-right: 0.5rem;
}

.nav-link {
    margin-left: 1rem;
    color: #f0ddaa;
}

.nav-link:hover {
    transition: all .8s ease;
    color: black;
}

.labelLogin {
    color: #fff;
    margin: 0.5rem 0 0.5rem 0;
}

.labelLoginError {
    color: #e42d40;
    margin: 0.5rem 0 0.5rem 0;
}

.login {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert-danger {
    background: #d83646;
}

.register-btn {
    margin: 1rem 0 1rem 0;
}